/* Main Stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

* {
    font-family: 'Source Code Pro', monospace;
}

html {
    height: 100%;
}

html, body {
    font: 100% system-ui;
    padding: 0;
    margin: 0;
    min-height: 100%;
}

body {
    --text-color: #222;
    --bkg-color: #fff;
}

body.dark-theme {
    --text-color: #eee;
    --bkg-color: #222;
}

textarea.dark-theme {
    --text-color: #eee;
    --bkg-color: #222;
}

button.dark-theme {
    --text-color: #eee;
    --bkg-color: #222;
}


/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
        --text-color: #eee;
        --bkg-color: #222;
    }
    /* Override dark mode with light mode styles if the user decides to swap */
    body.light-theme {
        --text-color: #222;
        --bkg-color: #fff;
    }
}

body {
    background: var(--bkg-color);
}

.text {
    position: relative;
    width: 60%;
    margin: auto;
    padding: 2%;
}

textarea {
    border: 0 none white;
    width: 100%;
    overflow: hidden;
    padding: 5px;
    color: var(--text-color);
    background-color: var(--bkg-color);
    outline: none;
    resize: none;
    font-size: 17px;
}

button {
    background-color: var(--bkg-color);
    color: var(--text-color);
    outline: none;
    border: none;
}

/* On Screen Interface Elements*/
#wordCounter{
    color: var(--text-color);
    font-size: 15px;
    position: fixed;
    bottom: 40px;
    right: 40px;
}

#memoryCounter{
    color: var(--text-color);
    font-size: 15px;
    position: fixed;
    bottom: 55px;
    right: 40px;
}
.toggle-btn {
    position: relative;
    width: 36px;
    height: 19px;
    float: right;
    margin-right: 20px;
    border-radius: 10px;
}

input[type="checkbox"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#color-toggle span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    opacity: 1;
    background-color: #eee;
    /*box-shadow: 0 2px 25px #d9d9d9;*/
    border-radius: 10px;
    transition: 0.2s ease background-color, 0.2s ease opacity;
}

#color-toggle span:before, #color-toggle span:after {
    content: '';
    position: absolute;
    top: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: 0.5s ease transform, 0.2s ease background-color;
}

#color-toggle span:before {
    background-color: #eee;
    transform: translate(-15px,0px);
    z-index: 1;
}

#color-toggle span:after {
    background-color: #222;
    transform: translate(2px,0px);
    z-index: 0;
}

#color-toggle input[type="checkbox"]:checked + span {
    background-color: #222;
}

#color-toggle input[type="checkbox"]:active + span {
    opacity: 0.5;
}

#color-toggle input[type="checkbox"]:checked + span:before {
    background-color: #222;
    transform: translate(14px,-5px);
}

#color-toggle input[type="checkbox"]:checked + span:after {
    background-color: #eee;
    transform: translate(18px,0px);
}
