#header{
  position: relative;
  border-radius: 10px;
  align-items: stretch;
}
.settings {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.0);
  overflow-x: hidden;
  transition: 0.3s;
  display: flex;
  justify-content: center;
}

.settingscontent {
  background-color: var(--bkg-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.5) 0 10px 10px;
  padding: 30px;
  width: 60%;
  max-width: fit-content;
  height: 60%;
  text-align: left;
  margin-top: 10%;
  display: inline-flex;
  position: relative;
  overflow: hidden !important;
  transition: 0.2s ease-in;
}


.settings a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.1s;
}

.settings a:hover, .settings a:focus {
  color: #f1f1f1;
}

.settings .exitbtn {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .settings a {
    font-size: 20px
  }
  .settings .closebtn {
    font-size: 20px;
  }
}

.btn {
  width: 40px;
  height: 40px;
  float:left;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  z-index: 10;
  color: #8e8e8e;
  transition: color 0.3s ease;
}

.btn:hover {
  color: var(--text-color);
}

.setting {
  margin-bottom: 30px;
  color: var(--text-color);
}
h1 {
  color: var(--text-color);
}
.setting .name {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 17px;
}
.setting .info {
  font-size: 15px;
}
.setting .switch {
  float: right;
  margin-top: -10px;
}
.checkbox {
  display: inline-block;
  vertical-align: top;
}
.checkbox-label {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}
.button {
  width: 85px;
  padding: 16px 0;
  color: var(--text-color);;
  text-transform: uppercase;
  border: 0;
  outline: none;
  cursor: pointer;
}
/* Controls */
/* Switch */
.switch {
  position: relative;
}
.switch label {
  width: 37px;
  height: 21px;
  position: absolute;
  background: #5a6676;
  top: 0;
  left: 0;
  border-radius: 50px;
}
.switch label:after {
  content: '';
  width: 13px;
  height: 13px;
  border-radius: 50px;
  position: absolute;
  top: 4px;
  left: 4px;
  background: var(--text-color);
  transition: all 0.1s;
}
/*.switch input[type="checkbox"] {*/
/*  visibility: true;*/
/*}*/
.switch input[type="checkbox"]:checked + label {
  background: #f3a978;
}
.switch input[type="checkbox"]:checked + label:after {
  left: 20px;
}
/* Checkbox */
.checkbox {
  width: 30px;
  height: 30px;
  background: #343f4c;
  position: relative;
}
.checkbox label {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 1px;
  left: 1px;
}
.checkbox label:before {
  content: '';
  width: 9px;
  height: 5px;
  border: 3px solid #ffaf7b;
  position: absolute;
  border-top: 0;
  border-right: 0;
  transform: rotate(-45deg);
  top: 8px;
  left: 8px;
  opacity: 0;
}
/*.checkbox input[type="checkbox"] {*/
/*  visibility: true;*/
/*}*/
.checkbox input[type="checkbox"]:checked + label:before {
  opacity: 1;
}
/* Slider */
.slider {
  width: 95%;
}
.slider input {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 2px;
  outline: none;
  border: 0;
  background: #8a8b93;
}
.slider input::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  border: 0;
}

