#header{
  position: relative;
  border-radius: 10px;
  align-items: stretch;
}
.settings {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.0);
  overflow-x: hidden;
  transition: 0.3s;
  display: flex;
  justify-content: center;
}

.settingscontent {
  background-color: var(--bkg-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.5) 0px 10px 10px;
  padding: 30px;
  width: 60%;
  height: 60%;
  text-align: left;
  margin-top: 150px;
  display: flex;
  position: relative;
  overflow: hidden !important;
}


.settings a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.1s;
}

.settings a:hover, .settings a:focus {
  color: #f1f1f1;
}

.settings .exitbtn {
  position: relative;
  top: -20px;
  left: 95%;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .settings a {
    font-size: 20px
  }
  .settings .closebtn {
    font-size: 20px;
  }
}

.btn {
  width: 40px;
  height: 40px;
  float:left;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  z-index: 10;
  color: #8e8e8e;
}

.btn:hover {
  color: var(--text-color);
}